@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --swatch-foundation: #eeeedd;
    --swatch-primary: #F4EEE0;
    --swatch-complement: #e1e4cb;
    --swatch-contrast: #999999;
    --swatch-accent: #669966;
    --swatch-status: #123456;
    --my-font-family: "Robaaaoto";
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
    background-color: #393646;
}

#root {
    background-color: var(--swatch-primary);
    font-family: "Sometype Mono", monospace;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 90%;
    top: 5%;
    border-radius: 12px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#app-root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

/* APP BANNER */
.app-banner {
    font-family: "Sometype Mono", monospace;
}

/* WELCOME PAGE */
.welcome-container {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    color: #393646;
}

.welcome-title {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: -12px;
}

.welcome-logo {
    background-image: url("./images/playlister-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    opacity: .85;
}

.welcome-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 750px;
    transform: translatey(-10px);
}

.welcome-buttons-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome-button {
    height: 45px;
    color: #F4EEE0;
    background-color: #4F4557;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    font-weight: 600;
}

.welcome-buttons-row .welcome-button {
    width: 48%;
}

.welcome-button:hover {
    background-color: #5c5165;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.welcome-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.demo-button {
    width: 100%;
    background-color: #675969;
    transition: all 0.2s ease;
}

.demo-button:hover {
    background-color: #79687b;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.demo-button:active {
    background-color: #6D5D6E;
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.guest-link {
    margin-top: 4px;
    color: #4F4557;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    cursor: pointer;
}

.guest-link:hover {
    opacity: 1;
    text-decoration: underline;
}